#div1{
    margin-left: 400px;
    margin-top: 150px;
    background-color: rgb(204, 168, 237);
    width: 400px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
#btn{
    margin-left: 160px;
}
